.root {
  position: absolute;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3;
  animation: fade 0.3s 1 normal;
  padding: 5px;
  overflow: hidden;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: start;

    li {
      padding: 4px 0;
      color: black;
      transition: transform 0.4s;
    }
  }
}

.rootClosed {
  transition: 0.3s;
  opacity: 0;
}
